*{
    margin: 0;
}

header, footer{
    padding-top: 20px ;
    padding-bottom: 20px ;
    padding-left: 50px;
    padding-right: 50px;
    width: 95%;
    background-color: white;
}

header{
    position: fixed;
    z-index: 1;

}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    
}


.back:hover{
    background-color:black;
    color:white;
    border-radius: 10%;
}


h1{
    font-size: 3.5em;
    color: #A5B4FC;
    font-family: 'Montserrat';
}

h2{
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 2em;
    font-family: 'Manrope';
    color: black;
    text-align: center;


}

p, h3{
    font-size: 1.1em;
    font-family: 'Manrope';
    color: white;
}

a{
    color: #242424;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Manrope';
}


li{
        padding-top: 10px;

}







.cta{
  background: linear-gradient(#8e86b5, #acaeed);
  color: white;
  border-radius: 50px;
  display: inline-block;
  padding: 20px;
  position: relative;
  left: px;
  top:30px;
  font-size: 1.5em;
}

.watch:hover, .write:hover{
    background: linear-gradient(90deg,#696484,#8788BA );
}

.logo:hover{
 opacity: 0.5;
}

/* page accueil */
.info{
    padding: 50px;
}

.middle-deux{


    background-color: #1F2039;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 90px;


}

.bordure{
    position: absolute;
    bottom : 120px;
    right: 280px;
}

.container{

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    
}

.deux{
    padding-top: 
    5px;
}

.photo:hover{
    opacity: 0.6;
}
/* ****** */

/* page à propos */

ul{
    font-size: 1em;
    font-family: Manrope;
    color: #F9F8FF;
}

.pro
{
    color : #A5B4FC;
}

.middle{
    background-color: #1F2039;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
    margin: auto;


}




/* **** */

/* page portfolio */

.trois{
    padding: 70px;
    padding-top: 150px;
}

.titre1{
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 2em;
    font-family: 'Manrope';
    color: black;
    text-align: left;
    padding-left: 10px;

}

.portfolio-section-photos, h2{
    text-align: left;
    padding-left: 35px;
}

.grid-paysages,
.grid-portraits
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 15px;
}

.grid-paysages img,
.grid-portraits img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.lien-conteneur-photo{
    position: relative
}

.photo-hover{
    color:white;
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    display: none;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Manrope';

}

.lien-conteneur-photo:hover .photo-hover{
    display: flex;
}



/* 



.portfolio-section-photos {
  background-color: white;
}

.portfolio-section-photos h2 {
  color: #242424;
  margin-bottom: 80px;
}

.grid-paysages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px 300px;
  gap: 15px;
}

.grid-portraits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px;
  gap: 15px;
}

.grid-paysages img
{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-portraits img {
      width: 100%;
  height: 100%;
  object-fit: cover;
}

.lien-conteneur-photo {
  position: relative;
}

.photo-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.lien-conteneur-photo:hover .photo-hover {
  display: flex;
}