*{
    margin: 0;
}

header, footer{
    padding-top: 20px ;
    padding-bottom: 20px ;
    padding-left: 50px;
    padding-right: 50px;
    width: 95%;
    background-color: white;
}

header{
    position: fixed;
    z-index: 1;

}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    
}


.back:hover{
    background-color:black;
    color:white;
    border-radius: 10%;
}


h1{
    font-size: 3.5em;
    color: #A5B4FC;
    font-family: 'Montserrat';
}

h2{
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 2em;
    font-family: 'Manrope';
    color: black;
    display: flex;
    justify-content: center;

}

p, h3{
    font-size: 1.1em;
    font-family: 'Manrope';
    color: white;
}

a{
    color: #242424;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Manrope';
}


li{
        padding-top: 10px;

}







.cta{
  background: linear-gradient(#8e86b5, #acaeed);
  color: white;
  border-radius: 50px;
  display: inline-block;
  padding: 20px;
  position: relative;
  left: px;
  top:30px;
  font-size: 1.5em;
}

.watch:hover, .write:hover{
    background: linear-gradient(90deg,#696484,#8788BA );
}

.logo:hover{
 opacity: 0.5;
}


.info{
    padding: 50px;
}

.middle-deux{


    background-color: #1F2039;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 90px;


}

.bordure{
    position: absolute;
    bottom : 120px;
    right: 280px;
}

.container{

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    
}

.deux{
    padding-top: 
    5px;
}

.photo:hover{
    opacity: 0.6;
}

.section-contact{
    background-color: #1F2039;

}

.titre-contact{
    color:white !important;
}


form {
  display: flex;
  flex-direction: column;
  width: 40%;
  color: white;
  margin-left:490px;
  font-family: "Manrope";

}

.form-nom-email{
    display: flex;
    flex-direction: row;
}

.form-column{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    flex:1;

}

input{
    padding: 15px;
    margin-left: 10px;

}

textarea{
    padding: 20px;
    margin-left:10px;
    width: 91% !important;
}

label{
    margin-bottom: 10px;
    margin-left: 10px;
}

.submit{
  background: linear-gradient(#8e86b5, #acaeed);
  color: white;
  border-radius: 50px;
  padding: 10px;
  font-size: 1em;
  width: 200px !important;
  margin-left:200px;
  margin-top: 20px;
  margin-bottom: 50px;
  border: none;
}

.submit:hover{
      background: linear-gradient(#5a5573, #acaeed);

}





